# -*- mode: config -*-

# This file configures the merge command that is printed after all submitted jobs
# with submit.py have finished successfully.
# Refer e.g. to 'tqmerge --help' to see what possible arguments are available

[merge]
patch.0: config/patches/common/downmerge.txt
patch.1: config/patches/common/trimmingAfterPooling.txt
downmerge: generalize

