# -*- mode: config -*-

[analyze]

inputFile: sampleFolders/initialized/common/initialized-HHML_3L.root
###################################### WZCR
outputFile: sampleFolders/analyzed/WZCR/analyzed-HHML_3L.root

###################################### ttCR
#outputFile: sampleFolders/analyzed/ttCR/analyzed-HHML_3L.root

# channels to run over
channels: trilep
#,trilep
# run nominal analysis
xAODdoNominal: true

# Add observables
customObservables.directories: HHML_example/observables/
customObservables.snippets: HWWTriggerWeight,HWWMtautau,HWWnLep,HWWJetCounter,HWWMuonTTVAWeight,HWWElectronRecoWeight,HWWJVTWeight,HWWBTagWeight, HWWPRWWeight, HWWMCWeight,HWWBTagWeightNoDeco,HWWLeptonIDObservable, HWWMuonIsoWeight, HWWMuonRecoWeight, HWWElectronIDWeight, HWWElectronIsoWeight

# HWWbTagCounter

#HWWFakeFactorWeight,
#HWWggF1jet,

# Book cuts
# WZCR
cuts: HHML_example/config/cuts/HHML_WZCR_3L.def

# ttCR
#cuts: config/cuts/HHML/HHML_ttCR_3L.def


# Book histograms
histograms: HHML_example/config/histograms/histograms-HHML_3L.txt


#################
### LEPTON ID ###
#################

# For using all 3 leptons when calculating SF weights
nLeptonSFWeights: 3

# Let's use HHML lepton selections (for HHMLLeptonIDObservable)
#lepIDSelectionTag: HHML3L
#lepIDAnalysisType: HHML3L
lepIDSelectionTag: WH
lepIDAnalysisType: WH

# Trigger combination
#triggerCombination: singleLepton
triggerCombination: singleAndDilepton

# Iso WPs (for SFs)
muonIsolationWP: PflowTight_VarRad
electronIsolationWP: Tight_VarRad

# ID WPs
# Note: (muon quality enum <= 1) := medium
# --> See: https://twiki.cern.ch/twiki/bin/view/Atlas/MuonSelectionTool#Quality_definition
ElectronID: Tight
MuonQuality: Medium
ElectronIDLowPt: Tight
MuonQualityLowPt: Medium

# Iso WPs (for SFs)
#muonIsolationWP: PLVTight
#electronIsolationWP: PLVTight
#muonIsolationWP: PLVLoose
#electronIsolationWP: PLVLoose
#muonIsolationWP: PLImprovedTight
#electronIsolationWP: PLImprovedTight
# Disable for now -- apply this weight at the ECIDS cut instead
# electronIsolationWP: PLImprovedTightECIDS

# ID WPs
#ElectronID: TightLH
#ElectronIDLowPt: TightLH
# Note: (muon quality enum <= 1) := medium
# --> See: https://twiki.cern.ch/twiki/bin/view/Atlas/MuonSelectionTool#Quality_definition
#MuonQuality: Medium
#MuonQualityLowPt: Medium

#MuonQuality: Loose
#MuonQualityLowPt: Loose

# Trigger combination (for SFs)
#triggerCombination: singleLepton

# Jet collection (for Nbjet counter)
#jetCollection: AntiKt4EMPFlowJets

###### Lepton specifications
### Tight electron ID: uncomment the next three lines
#lepIDSelectionTag: 2L_Tight
#ElectronID: TightLH
#ElectronIDLowPt: TightLH
### Loose electron ID: uncomment the next three lines
#lepIDSelectionTag: HHML_3L

#ElectronID: MediumLH
#ElectronIDLowPt: MediumLH

### Tight muon ID: uncomment the next two lines
#MuonQuality: Tight
#MuonQualityLowPt: Tight
### Loose muon ID: uncomment the next two lines
#MuonQuality: Medium
#MuonQualityLowPt: Medium

### Loose isolation WP: uncomment the next two lines
#electronIsolationWP: PLVLoose
#muonIsolationWP: PLVLoose

### Tight isolation WP: uncomment the next two lines
#electronIsolationWP: PLImprovedTight
#muonIsolationWP: PLImprovedTight

#electronIsolationWP: PLVTight
#muonIsolationWP: PLVTight

################################################################################################
##### Options for special applications

##### Run over 10 events only -> for debugging

maxEvents: 2

##### Extended set of cuts and histograms for thorough 0jet modelling tests
# cuts: config/cuts/common/default-couplings.def, config/cuts/ggF/ggf.def, config/cuts/ggF/ggf-fitRegions.def, config/cuts/ggF/ggf-1j-mixQ.def, config/cuts/ggF/ggf-0jet-modelling.def
# histograms: config/histograms/ggF/histograms-ggf.txt, config/histograms/ggF/histograms-ggf-modelling.txt

##### Dump ntuples for DNN training
#ntuples: config/nTuples/ggF/nTuple-DNNtrain-DF-ggF01j.txt
#printNTuples: true
#patches: config/patches/common/pool.txt, config/patches/common/nTuple-patch.txt

##### For printing event lists. Suggest to switch off "histograms:"
# eventlists: config/eventLists/common/eventLists.txt

##### End of options for special applications
###############################################################################################

[config]
#include: config/aliases/ggFVBF/aliases-DNN-ggFVBF-01j-DF.cfg, config/master/ggFVBF-common/analyze-ggFVBF-common-nom.cfg, fakefactors/Run2LegacyAnalysisFakeFactors/fakefactor-list-Run2LegacyAnalysis-TightElectron.cfg
include: HHML_example/config/master/common/analyze-HHML-common_3L.cfg 
#, fakefactors/Run2LegacyAnalysisFakeFactors/fakefactor-list-Run2LegacyAnalysis-TightElectron.cfg


