# -*- mode: config -*-

[analyze]

inputFile: sampleFolders/initialized/common/initialized-HHML_3L.root
###################################### WZCR
outputFile: sampleFolders/analyzed/WZCR/analyzed-HHML_3L.root

# channels to run over
channels: trilep
#,trilep
# run nominal analysis
xAODdoNominal: true

# Add observables
customObservables.directories: HHML_example/observables/
customObservables.snippets: HWWTriggerWeight,HWWMtautau,HWWnLep,HWWJetCounter,HWWMuonTTVAWeight,HWWElectronRecoWeight,HWWJVTWeight,HWWBTagWeight, HWWPRWWeight, HWWMCWeight,HWWBTagWeightNoDeco,HWWLeptonIDObservable, HWWMuonIsoWeight, HWWMuonRecoWeight, HWWElectronIDWeight, HWWElectronIsoWeight

# Book cuts WZCR
cuts: HHML_example/config/cuts/HHML_WZCR_3L.def

# Book histograms
histograms: HHML_example/config/histograms/histograms-HHML_3L.txt

#################
### LEPTON ID ###
#################

# For using all 3 leptons when calculating SF weights
nLeptonSFWeights: 3

# Let's use HHML lepton selections (for HHMLLeptonIDObservable)
lepIDSelectionTag: WH
lepIDAnalysisType: WH

# Trigger combination
triggerCombination: singleAndDilepton

# Iso WPs (for SFs)
muonIsolationWP: PflowTight_VarRad
electronIsolationWP: Tight_VarRad

# ID WPs
# Note: (muon quality enum <= 1) := medium
# --> See: https://twiki.cern.ch/twiki/bin/view/Atlas/MuonSelectionTool#Quality_definition
ElectronID: Tight
MuonQuality: Medium
ElectronIDLowPt: Tight
MuonQualityLowPt: Medium

################################################################################################
##### Options for special applications

##### Run over 10 events only
maxEvents: 10

##### End of options for special applications
###############################################################################################

[config]
include: HHML_example/config/master/common/analyze-HHML-common_3L.cfg 


