# -*- mode: config -*-

[initialize]


###################################### common
# name of input and output files
inputFile: sampleFolders/prepared/common/prepared-HHML_3L.root
outputFile: sampleFolders/initialized/common/initialized-HHML_3L.root

# campaigns config -> needs to be adjusted for the file system the analysis is run on
# PxAODs
campaignsConfig: HHML_example/config/master/PxAOD-campaigns-HHML_3L.cfg  


# select DF channels
channels: trilep
postInit_patches: HHML_example/config/patches/patch-HHML-postInit-fakes.txt

[config]
include: HHML_example/config/master/common/initialize-HHML-common_3L.cfg

