# -*- mode: config -*-

[initialize]


###################################### common
# name of input and output files
inputFile: sampleFolders/prepared/common/prepared-HHML_3L.root
outputFile: sampleFolders/initialized/common/initialized-HHML_3L.root

# campaigns config -> needs to be adjusted for the file system the analysis is run on
# Normal
#campaignsConfig: config/master/common/campaigns-HHML_3L.cfg
# PxAODs
campaignsConfig: HHML_example/config/master/PxAOD-campaigns-HHML_3L.cfg  


# select DF channels
channels: trilep
postInit_patches: HHML_example/config/patches/patch-HHML-postInit-fakes.txt
#, config/patches/HH_multilepton/patch-HH_multilepton-postInit-WZSplit.txt
#postInit_patches: config/patches/common/splitddFakes-e-m-double.txt
#config/patches/common/splitSTXS_Stage1_2-coarse.txt

[config]
include: HHML_example/config/master/common/initialize-HHML-common_3L.cfg

