# -*- mode: config -*-

[prepare]

############################# common
# Set name of the output file and select DF channels
outputFile: sampleFolders/prepared/common/prepared-HHML_3L.root

channels: trilep 

[config]
include: HHML_example/config/master/common/prepare-HHML-common_3L.cfg


