[c16a]
luminosity: 36207.66

[c16d]
luminosity: 44307.40

[c16e]
luminosity: 58450.10

[c23a]
luminosity: 29049.3
#mcPaths: /eos/home-n/nischmit/AnalysisExample/samples/mc23a_samples:CollectionTree
#dataPaths: /eos/home-n/nischmit/AnalysisExample/samples/data22:CollectionTree
mcFileList: HHML_example/config/samples/inputFileLists/filelist_lxplus_mc23a.txt
dataFileList: HHML_example/config/samples/inputFileLists/filelist_lxplus_data22.txt

[c23d]
luminosity: 27239.9


[c23ad]
luminosity: 56289.2
