# -*- mode: config -*-

[visualize]

#----------------------------------------------------------
################################ WZCR
# name of the input file
inputFile: sampleFolders/analyzed/WZCR/analyzed-HHML_3L.root
# name of the output file
outputFile: sampleFolders/visualized/WZCR/visualized-HHML_3L.root
# name of the output folder
outputDir: results/HHML/WZCR   

#----------------------------------------------------------
# Channels and campaigns to run over
channels: trilep
#,trilep
channelConfig: HHML_example/config/channels/common/channels.txt

# which campaigns to run over
visualizeCampaigns: c23a
#visualizeCampaigns: c23a, c23d
#visualizeCampaigns: c23ad
visualizeCampaignConfig: HHML_example/config/campaigns/common/campaigns.txt

#----------------------------------------------------------
# Plot histograms settings

# hist colors for processes
#patches: config/visualization/style/ggF/style-post-fit-noLines.txt
#makePlots: CutChannels/MET
#*nJets*   # all */*

patches: HHML_example/config/visualization/style/HHML-style_3L.txt
histogramProcesses: HHML_example/config/visualization/processes/HHML-plot-processes_3L.txt
#histogramPlots: config/visualization/plots/ggF/histogramPlotFiles.txt

makePlots: */*
#makePlots: *Mll01*

plotFormats: pdf
makeLogPlots: true



plotter: TQDefaultPlotter
plotter.style.drawData: true           # data true or false
plotter.style.showTotalBkg: true
plotter.labels.atlas: Work in Progress
plotter.blocks.x.0: 1
plotter.blocks.y.0: 0.65
plotter.style.showUnderflow: true
plotter.style.showOverflow: true
plotter.style.subPlot: ratio

plotter.geometry.legend.xMin: 0.65
plotter.geometry.legend.xMax: 0.93
#plotter.geometry.legend.yMin: 0.72
#plotter.geometry.legend.yMax: 0.92

plotter.geometry.main.yAxis.titleOffset: 1.2
plotter.geometry.sub.xAxis.titleOffset: 3.2
plotter.geometry.sub.yAxis.titleOffset: 1.
plotter.geometry.sub.height: 0.35

plotter.geometry.sub.xAxis.labelSize: 0.03
plotter.geometry.sub.yAxis.labelSize: 0.05

plotter.geometry.sub.yAxis.titleSize: 0.05
plotter.geometry.sub.xAxis.titleSize: 0.035

plotter.style.ratio.numerator.title: Data
plotter.style.ratio.denominator.title: SM


plotter.style.legend.textSize: 0.025

# WZCR
plotlabel: "WZ Control Region (2022)"

plotter.labels.totalStack: Total Bkg
plotter.labels.atlas.scale: 1.15

#plotter: TQHWWPlotter

#plotter.style.showSub: true
#plotter.style.showRatio: true
#plotter.style.ratioFormula: sig/bkg
#plotter.style.ratioName: S/B
#plotter.style.showCustom: true
#plotter.optScan.FOMmode: s/b
#plotter.optScan.FOMbbb: true
#plotter.style.showOptScan: true
#plotter.labels.axes.subY: "S/B"

#plotter: TQDefaultPlotter

#plotter.style.showSub: true
#plotter.style.showRatio: true
#plotter.style.ratioFormula: sig/bkg
#plotter.style.ratioName: S/B
#plotter.labels.axes.subY: "S/B"

#plotter.style.forceRatioLimits: true
#plotter.style.ratioMax: 3.
#plotter.style.ratioMin: 0.
#plotter.style.logMin: 0.0001
#plotter.style.data.asymErrors: true
#plotter.ensureMinimumBinContent: 0.
## show events in plot legend
#plotter.style.showEventYields: true
#plotter.style.showEventYields.useUnderOverflow: true
#plotter.style.showEventYields.showErrors: false
#plotter.style.stackSignal:false



#plotter.style.forceRatioLimits: true
#plotter.style.ratioMax: 2.
#plotter.style.ratioMin: 0.
#plotter.ensureMinimumBinContent: 0.


# Useful plotter options
# plotter.normalize: true
# plotter.style.showOptScan: true
# plotter.style.showTotalBkg:false
# plotter.errors.drawStatMC:false
# plotter.style.showMultiRatio: true
# plotter.style.showCustom: true
#plotter.style.ratioFormula: sig, bkg
#plotter.labels.axes.subY: S / B

#plotter.style.ratioMax: 1.5
#plotter.style.ratioMin: 0.5
#plotter.style.logMinMin: 0.5
#plotter.style.forceRatioLimits: true

#plotter.normalize: true
#plotter.blocks.x.0: 2
#plotter.blocks.y.0: 0.65

#------------------------------
# summary file
summaryLinearOnly: true
#summaryCuts: CutChannels, CutLepSelection, CutJetSelection
summaryCuts: CutChannels, CutLeptons

# Add systematic Band, you need to make the sys band for each channel, em, me df
# systematics: auxData/systematicsBands/ggF/systematics_em_2407.root:systematics>>::em, auxData/systematicsBands/ggF/systematics_me_2407.root:systematics>>::me, auxData/systematicsBands/ggF/systematics_2407.root:systematics>>::df

#----------------------------------------------------------
# Make cutflows

makeCutflows: true
cutflowFormats: txt, tex, html
cutflowProcessFiles: HHML_example/config/visualization/processes/HHML-cutflow-processes_3L.txt

# cutflow WZCR
cutflowCutFiles: HHML_example/config/visualization/cuts/WZCR_cutflow-HHML_3L.txt

#----------------------------------------------------------
# Background normalisation in CAF
plotter.labels.drawNFInfo: true
doNFs: false

# the campaign you want to use for deriving the NFs
# nfCampaign: run2
NF.toySize: 1


