# -*- mode: config -*-

[visualize]

#----------------------------------------------------------
################################ WZCR
# name of the input file
inputFile: sampleFolders/analyzed/WZCR/analyzed-HHML_3L.root
# name of the output file
outputFile: sampleFolders/visualized/WZCR/visualized-HHML_3L.root
# name of the output folder
outputDir: results/HHML/WZCR   

#----------------------------------------------------------
# Channels and campaigns to run over
channels: trilep
channelConfig: HHML_example/config/channels/common/channels.txt

# which campaigns to run over
visualizeCampaigns: c23a
visualizeCampaignConfig: HHML_example/config/campaigns/common/campaigns.txt

#----------------------------------------------------------
# Plot histograms settings

# hist colors for processes
patches: HHML_example/config/visualization/style/HHML-style_3L.txt
histogramProcesses: HHML_example/config/visualization/processes/HHML-plot-processes_3L.txt

makePlots: */*

plotFormats: pdf
makeLogPlots: true

# plotter settings
plotter: TQDefaultPlotter
plotter.style.drawData: true           
plotter.style.showTotalBkg: true
plotter.labels.atlas: Work in Progress
plotter.blocks.x.0: 1
plotter.blocks.y.0: 0.65
plotter.style.showUnderflow: true
plotter.style.showOverflow: true
plotter.style.subPlot: ratio

plotter.geometry.legend.xMin: 0.65
plotter.geometry.legend.xMax: 0.93

plotter.geometry.main.yAxis.titleOffset: 1.2
plotter.geometry.sub.xAxis.titleOffset: 3.2
plotter.geometry.sub.yAxis.titleOffset: 1.
plotter.geometry.sub.height: 0.35

plotter.geometry.sub.xAxis.labelSize: 0.03
plotter.geometry.sub.yAxis.labelSize: 0.05

plotter.geometry.sub.yAxis.titleSize: 0.05
plotter.geometry.sub.xAxis.titleSize: 0.035

plotter.style.ratio.numerator.title: Data
plotter.style.ratio.denominator.title: SM


plotter.style.legend.textSize: 0.025

# WZCR
plotlabel: "WZ Control Region (2022)"

plotter.labels.totalStack: Total Bkg
plotter.labels.atlas.scale: 1.15

#------------------------------
# summary file
summaryLinearOnly: true
summaryCuts: CutChannels, CutLeptons

# Add systematic Band, you need to make the sys band for each channel, em, me df
# systematics: auxData/systematicsBands/ggF/systematics_em_2407.root:systematics>>::em, auxData/systematicsBands/ggF/systematics_me_2407.root:systematics>>::me, auxData/systematicsBands/ggF/systematics_2407.root:systematics>>::df

#----------------------------------------------------------
# Make cutflows

makeCutflows: true
cutflowFormats: txt, tex, html
cutflowProcessFiles: HHML_example/config/visualization/processes/HHML-cutflow-processes_3L.txt

# cutflow WZCR
cutflowCutFiles: HHML_example/config/visualization/cuts/WZCR_cutflow-HHML_3L.txt

#----------------------------------------------------------
# Background normalisation in CAF
plotter.labels.drawNFInfo: true
doNFs: false

# the campaign you want to use for deriving the NFs
# nfCampaign: run2
NF.toySize: 1


