# -*- mode: config -*-

[analyze]

channelConfig: config/channels/common/channels.txt

# TTbar reweighting
#UseTTbarNNLOReweighterTool: true

patches: HHML_example/config/patches/HHML_pool_3L.txt
InputVersion: 22

# Standard settings for fast and smooth running
useMultiChannelVisitor: true
progressInterval: 1
loadMVA: false
purgeRemainder: true
checkRun: false
useTransientTree: true

[config]
include:  HHML_example/config/aliases/aliases-HHML_3L.cfg

