# -*- mode: config -*-

[initialize]

# Perform analysis for full Run 2
campaigns: c23a

channelPlaceholder: channel

# Fake configuration
#doDDfakes: true
doDDfakes: false
ddFakes.baseFolderName: ddFakes
# mc processes to be ignored in the EW subtraction of the single fakes. Folders
# with these names will not be copied. 
# For both the single-fakes and double-fakes terms, the EW subtraction should only include processes with two real leptons, i.e. not Wjets; see equation 18 in https://cds.cern.ch/record/2686919/files/ATL-COM-PHYS-2019-1071.pdf? or equation 5.15 in https://summit.sfu.ca/item/34890. 
ddFakes.mcFoldersToVeto: Wjets

# Sample purging removes samples for which initialization has failed from the sample folder
purgeSamples: true

# Track if initialization has been successful
printSamplesFailed: true
verbose: true

# include pre-init patch file
preInit_patches: HHML_example/config/patches/patch-HHML_3L-preInit.txt
#preInit_patches: config/patches/patch-HHML_3L-preInit_ttbar.txt

# include post-init patch file
# Could perform STXS splitting for otherH once truthY is available for all otherH samples
# Post init patches are set for respective channels
#postInit_patches: config/patches/common/splitddFakes-e-m-double.txt, config/patches/common/splitSTXS_Stage1_2-coarse.txt

