# -*- mode: config -*-

[prepare]

# input DSIDs (whitelisted and and mapped)
XsecFiles: HHML_example/config/samples/XSec/XS_13p6TeV.csv

XsecWhitelist: HHML_example/config/samples/whitelists/whitelist-HHML_3L.txt     
XsecMap: HHML_example/config/samples/maps/run3-mc23.map

XsecUnit: nb

## channels tag is set in DF and SF specific configs
channelPlaceholder: channel

# energy and luminosity
luminosityUnit: pb
energy: 13.6
energyUnit: TeV

campaignsConfig: HHML_example/config/master/PxAOD-campaigns-HHML_3L.cfg
campaigns: c23a








