# -*- mode: config -*-

[analyze]

#----------------------------------------------------------
# Name of the input file
inputFile: sampleFolders/initialized/samples-initialized-tutorial-syst.root
# Name of the output file
outputFile: sampleFolders/analyzed/samples-analyzed-tutorial-sys.root

# cut configuration (make sure to include fit regions here)
cuts: config/cuts/common/default-couplings.def

# book histograms (only histograms for statistical analysis are booked)
histograms: config/histograms/tutorial/histograms-tutorial-syst.txt

# For a heavy systematics run it might be beneficial to define tighter pooling
# patches: config/patches/common/pool.txt

#-----------------------------------------------------------
# Variations
#these options refer to lists of systematic variations. Their difference is how the variations are encoded:
#"p4" variations refer to modified event-wise kinematics which may cause events to migrate between bins and categories -> requires the use of different branches/containers for all kinematic variables
#"sf" variations refer to modified event-weights which keeping the same kinematic properties are the nominal event -> requires the use of different branches/containers for scale factors or other weights
#here, only a few p4 systematics are enabled to make this example run (relatively) quickly
#xAODsfSystematicsList: auxData/systematicVariations/common/sf-variations.txt
xAODp4SystematicsList: auxData/systematicVariations/tutorial/p4-variations-tutorial.txt
doFFsystematics: false

#HWW specific: some signal samples contain additional theory systematics. Ignore those for now...
#xAODsfSpecialSystematicsProcesses: sig/?/?/mh125/ggf
#xAODsfSpecialSystematicsLists: auxData/systematicVariations/ggF/signal-variations.txt
# xAODp4SpecialSystematicsProcesses:
# xAODp4SpecialSystematicsLists:

# include aliases and baseline config
[config]
include: config/aliases/common/aliases-flat.cfg, config/master/ggF/analyze-ggF-default.cfg
