# -*- mode: config -*-

[analyze]

#----------------------------------------------------------
# Name of the input file
inputFile: sampleFolders/initialized/samples-initialized-tutorial-syst.root
# Name of the output file
outputFile: sampleFolders/analyzed/samples-analyzed-tutorial-sys.root

# cut configuration (make sure to include fit regions here)
cuts: xAOD/config/cuts/default-couplings.def

# book histograms (only histograms for statistical analysis are booked)
histograms: xAOD/config/histograms/histograms-tutorial-syst.txt


customObservables.directories: xAOD/observables, xAOD/observables/ggF
customObservables.snippets: HWWTriggerWeight,HWWTrigger,HWWbTagCounter,HWWMETRel,HWWMtautau,EventIndex,HWWpTSumobs,HWWnLep,HWWFakeFactorWeight,HWWDRObs,HWWggF1jet,HWWLeptonIDObservable,HWWRunNumber,SampleNorm,HWWCorrectedAverageMu,HWWJetCounter, HWWMuonIsoWeight, HWWMuonTTVAWeight, HWWMuonRecoWeight, HWWElectronRecoWeight, HWWElectronIDWeight, HWWElectronIsoWeight, HWWJVTWeight, HWWBTagWeight, HWWPRWWeight, HWWMCWeight, TTbarNNLOWeight

lepIDSelectionTag: 2L
muonIsolationWP: FCTight
electronIsolationWP: FCTight

ElectronID: MediumLH
ElectronIDLowPt: TightLH
MuonQuality: Tight
MuonQualityLowPt: Tight

# For a heavy systematics run it might be beneficial to define tighter pooling
patches: xAOD/config/patches/pool.txt

#-----------------------------------------------------------
# Variations
#these options refer to lists of systematic variations. Their difference is how the variations are encoded:
#"p4" variations refer to modified event-wise kinematics which may cause events to migrate between bins and categories -> requires the use of different branches/containers for all kinematic variables
#"sf" variations refer to modified event-weights which keeping the same kinematic properties are the nominal event -> requires the use of different branches/containers for scale factors or other weights
#here, only a few p4 systematics are enabled to make this example run (relatively) quickly
#xAODsfSystematicsList: auxData/systematicVariations/common/sf-variations.txt
xAODp4SystematicsList: xAOD/auxData/systematicVariations/p4-variations-tutorial.txt
doFFsystematics: false

# parallel visiting of samples associated to same file (much faster!)
useMultiChannelVisitor: true

progressInterval: 1

# use the following line to limit the nubmer of events read per sample
# useful for debugging
# maxEvents: 10
loadMVA: false
purgeRemainder: true
checkRun: false

useTransientTree: true


#HWW specific: some signal samples contain additional theory systematics. Ignore those for now...
#xAODsfSpecialSystematicsProcesses: sig/?/?/mh125/ggf
#xAODsfSpecialSystematicsLists: auxData/systematicVariations/ggF/signal-variations.txt
# xAODp4SpecialSystematicsProcesses:
# xAODp4SpecialSystematicsLists:

# include aliases and baseline config
[config]
include: xAOD/config/aliases/xAOD-Example-aliases.cfg
