# -*- mode: config -*-

[analyze]

# name of input and output files
inputFile: sampleFolders/initialized/samples-initialized-variants-Example.root
outputFile: sampleFolders/analyzed/samples-analyzed-variants-Example.root

# channels to run over
channels: em,me
# run nominal analysis
xAODdoNominal: true

# Add observables
customObservables.directories: common/observables, xAOD/observables
#customObservables.snippets: HWWTriggerWeight,HWWbTagCounter,HWWMETRel,HWWMtautau,EventIndex,HWWpTSumobs,HWWnLep,HWWFakeFactorWeight,HWWDRObs,HWWggF1jet,HWWLeptonIDObservable,HWWRunNumber,SampleNorm,HWWCorrectedAverageMu,HWWJetCounter, HWWTruthBTagCounterObs, HWWMuonIsoWeight, HWWMuonWeightNoDeco, HWWMuonTTVAWeight, HWWMuonRecoWeight, HWWElectronRecoWeight, HWWElectronIDWeight, HWWElectronIsoWeight, HWWElectronWeightNoDeco, HWWJVTWeight, HWWBTagWeight, HWWPRWWeight, HWWMCWeight, TTbarNNLOWeight, HWWBTagWeightNoDeco, HWWAddMoreVectors, METSoftTermProxy, HWWPartExists, METSignificance, HWWHT
customObservables.snippets: HWWLeptonIDObservable, HWWZBosonPairFakeIndex, TransMassW, HWWInvMass2L, HWWTriggerWeight, HWWMuonIsoWeight, HWWMuonTTVAWeight, HWWMuonRecoWeight, HWWElectronRecoWeight, HWWElectronIDWeight, HWWElectronIsoWeight, HWWJVTWeight, HWWbTagCounter, HWWBTagWeightNoDeco, HWWPRWWeight, HWWMCWeight, HWWnLep, HWWJetCounter, HWWMtautau

# Book cuts and histograms
cuts: xAOD/config/cuts/variants-Example-cuts.def
histograms: xAOD/config/histograms/variants-Example-histograms.txt

###### Lepton specifications
lepIDSelectionTag: 2L_Tight

##### Run over 100000 events only, for speed
maxEvents: 100000

patches: xAOD/config/patches/pool.txt
InputVersion: 22

# Standard settings for fast and smooth running
useMultiChannelVisitor: true
progressInterval: 1
loadMVA: false
purgeRemainder: true
checkRun: false
useTransientTree: true

# [config]
# include: xAOD/config/aliases/xAOD-Example-aliases.cfg, xAOD/config/aliases/variants-Example-aliases.cfg
# # include aliases
[config]
include: xAOD/config/aliases/variants-Example-aliases.cfg