# This file is solely intended for tutorial purposes
# The only relevant path in this file is /eos/user/a/atlascaf/tutorial/2020_Feb/systExample, all others should be considered dummies

[c16a]
luminosity: 36207.66
dataPaths: /eos/atlas/atlascerngroupdisk/phys-higgs/HSG3/R21/PAOD_V20/EMPFlowJets/2LDF/data/data1516/:CollectionTree
mcPaths: /eos/user/a/atlascaf/tutorial/2020_Feb/systExample/:CollectionTree
ddFakes.dataPaths: /eos/atlas/atlascerngroupdisk/phys-higgs/HSG3/R21/PAOD_V20/EMPFlowJets/2LDF/data/data1516/:CollectionTree
ddFakes.mcPaths: /eos/atlas/atlascerngroupdisk/phys-higgs/HSG3/R21/CAFxAOD_V20/EMPFlow/c16a/:CollectionTree

[c16d]
luminosity: 44307.40
dataPaths: /eos/atlas/atlascerngroupdisk/phys-higgs/HSG3/R21/PAOD_V20/EMPFlowJets/2LDF/data/data17/:CollectionTree
mcPaths: /eos/atlas/atlascerngroupdisk/phys-higgs/HSG3/R21/CAFxAOD_V20/EMPFlow/c16d/:CollectionTree
ddFakes.dataPaths: /eos/atlas/atlascerngroupdisk/phys-higgs/HSG3/R21/PAOD_V20/EMPFlowJets/2LDF/data/data17/:CollectionTree
ddFakes.mcPaths: /eos/atlas/atlascerngroupdisk/phys-higgs/HSG3/R21/CAFxAOD_V20/EMPFlow/c16d/:CollectionTree

[c16e]
luminosity: 58450.10
dataPaths: /eos/atlas/atlascerngroupdisk/phys-higgs/HSG3/R21/PAOD_V20/EMPFlowJets/2LDF/data/data18/:CollectionTree
mcPaths: /eos/atlas/atlascerngroupdisk/phys-higgs/HSG3/R21/CAFxAOD_V20/EMPFlow/c16e/:CollectionTree
ddFakes.dataPaths: /eos/atlas/atlascerngroupdisk/phys-higgs/HSG3/R21/PAOD_V20/EMPFlowJets/2LDF/data/data18/:CollectionTree
ddFakes.mcPaths: /eos/atlas/atlascerngroupdisk/phys-higgs/HSG3/R21/CAFxAOD_V20/EMPFlow/c16e/:CollectionTree
