# -*- mode: config -*-

[initialize]

# name of input and output files
inputFile: sampleFolders/prepared/samples-prepared-variants-Example.root
outputFile: sampleFolders/initialized/samples-initialized-variants-Example.root

# channels to run over
channels: em,me
channelPlaceholder: channel

# campaigns config, to announce samples and campaigns to be processed
campaignsConfig: xAOD/config/master/campaigns-variants-Example.cfg
campaigns: c16a

# only signal, no fakes
doDDfakes: false

# Track if initialization has been successful
printSamplesFailed: true
verbose: true

# include pre-init patch file for this analysis
#preInit_patches: xAOD/config/patches/common/default-patch.txt

# Use patch that specifies variants, for splitting into STXS categories.
postInit_patches: xAOD/config/patches/xAOD-Example-postinitialize-patch.txt, xAOD/config/patches/variants-Example-splitSTXS_Stage1_2-coarse.txt
