# -*- mode: config -*-

###########################################
#
# This config initializes the tutorial analysis for
# for c16a
# only a single sample is used for demonstration
# purposes
#
###########################################

[initialize]

#----------------------------------------------------------
# name of the input file
inputFile: sampleFolders/prepared/samples-prepared-tutorial-syst.root
# name of the output file
outputFile: sampleFolders/initialized/samples-initialized-tutorial-syst.root

#----------------------------------------------------------
# paths and names of the input data and MC files are specified in
# the following dedicated campaign config
campaignsConfig: xAOD/config/master/campaigns-PFlowJets-tutorial-systematics.cfg
campaigns: c16a
#,c16d,c16e

# channels to run over
channels: em,me
channelPlaceholder: channel

#some options to make this example run as quickly as possible
addData: false
doDDfakes: false

# General settings
purgeSamples: true

# some debugging options for the sample initializer
# initialize: false
printSamplesFailed: true
verbose: true

# preInit patch files to apply
preInit_patches: common/config/patches/default-patch.txt

