# -*- mode: config -*-

[prepare]

# name of the output file
outputFile:  sampleFolders/prepared/samples-prepared-tutorial-syst.root

# input DSIDs (whitelisted and and mapped)
XsecFiles: common/config/samples/XSec/XS_13TeV.csv
XsecWhitelist: config/samples/whitelists/tutorial/whitelist-tutorial-syst.txt
XsecMap: config/samples/maps/common/run2-mc16.map
XsecUnit: nb

# channels to run over
channels: em,me
channelPlaceholder: channel

# energy and luminosity
luminosityUnit: pb
energy: 13

# patch files to apply
#patches: 

#import options specific to different campaigns and announce the ones that should be processed
campaignsConfig: common/config/master/luminosity.cfg
campaigns: c16a
#,c16d,c16e
