# -*- mode: config -*-

[prepare]

# Set name of the output file and select DF channels
outputFile: sampleFolders/prepared/samples-prepared-variants-Example.root
channels: em,me

# input cross section files and whitelist
XsecFiles: common/config/samples/XSec/XS_13TeV.csv
XsecWhitelist: xAOD/config/samples/whitelists/variants-Example-whitelist.txt
XsecMap: xAOD/config/samples/maps/variants-Example-mc16.map
XsecUnit: nb

## channels tag is set in DF and SF specific configs
channelPlaceholder: channel

# energy and luminosity
luminosityUnit: pb
energy: 13

# import options specific to different campaigns and announce the ones that should be processed
campaignsConfig: common/config/master/luminosity.cfg
campaigns: c16a
