# -*- mode: config -*-

[visualize]

#----------------------------------------------------------
# name of the input file
inputFile: sampleFolders/analyzed/samples-analyzed-variants-Example.root
# name of the output file
outputFile: sampleFolders/visualized/samples-visualized-variants-Example.root

# name of the output folder
outputDir: results/variants

#----------------------------------------------------------
# Channels and campaigns to run over
channels: df
channelConfig: xAOD/config/channels/channels.txt

#----------------------------------------------------------
# Plot histograms settings

# hist colors for processes
makePlots: */*
# which campaigns to run over
visualizeCampaigns: c16a
visualizeCampaignConfig: common/config/campaigns/campaigns.txt

#------------------------------
# stylization
patches: xAOD/config/visualization/style/variants-Example-style.txt
plotFormats: pdf
histogramProcesses: xAOD/config/visualization/processes/variants-Example-plot-processes.txt
plotter: TQHWWPlotter
makeLogPlots: true
plotter.style.logMinMin: 0.5
plotter.style.showTotalBkg: false

# adjust positioning of the legend, which is large.
plotter.blocks.y.0: 1
plotter.geometry.legend.xMin: 0.48
plotter.geometry.legend.xMax: 0.94
plotter.geometry.legend.yMin: 0.72
plotter.geometry.legend.yMax: 0.92
plotter.geometry.labels.xPos: 0.45

#----------------------------------------------------------
# # Make cutflows
makeCutflows: true
cutflowFormats: txt, tex, html

cutflowProcessFiles: xAOD/config/visualization/processes/variants-Example-cutflow-processes.txt
cutflowCutFiles: xAOD/config/visualization/cuts/variants-Example-cutflow-cuts.txt

#----------------------------------------------------------
