# -*- mode: config -*-

[visualize]

#----------------------------------------------------------
# name of the input file
inputFile: sampleFolders/analyzed/samples-analyzed-tutorial-sys.root
# name of the output file
outputFile: sampleFolders/visualized/samples-visualized-tutorial-sys.root

# name of the output folder
outputDir: results/tutorial-syst

#----------------------------------------------------------
# Channels and campaigns to run over
channels: em, me, df

# which campaigns to run over
visualizeCampaigns: c16a

# assignment of systematics bands files to channels:
systematicsBands: systband_em.root:systematics>>::em, systband_me.root:systematics>>::me, systband.root:systematics>>::df

#----------------------------------------------------------
# Background normalisation in CAF
doNFs: false

#---------------------------------------------------
# plot settings
makePlots: *
histogramProcesses: config/visualization/processes/tutorial/tutorial-plot-processes.txt
plotter.labels.atlas: Tutorial

#skip cutflows (not properly configured for this tutorial)
makeCutflows: false

#several othe settings are taken from the following file
[config]
include: config/master/ggF/visualize-ggF-default.cfg

