# -*- mode: config -*-
# CAF initialize config for Z'+MET analysis (ANA-EXOT-2023-28)

[initialize]

inputFile:  sampleFolders/prepared/samples-prepared-ZpMET.root
outputFile: sampleFolders/initialized/samples-initialized-ZpMET.root

campaignsConfig: ZpMET/config/master/ZpMET-campaigns.cfg
campaigns:       mc23a, mc23d, mc23e

normalize:                    true
initializer.useCountHistogram: true
printSamplesFailed:           true
verbose:                      true

channels:           ee, mm
channelPlaceholder: channel

