# -*- mode: config -*-

[analyze]

# name of the input file
inputFile: sampleFolders/initialized/samples-initialized-2LSC.root

# name of the output file
outputFile: sampleFolders/analyzed/samples-analyzed-2LSC.root

# define the cuts
cuts: easyjet_example/config/cuts/cuts-2LSC.def

# book histograms
histograms: easyjet_example/config/histograms/histograms-2LSC.txt

# channels to run over
channels: inclusive
channelPlaceholder: channel

# include aliases
[config]
include: easyjet_example/config/aliases/easyjet-ml.cfg
