# -*- mode: config -*-

[prepare]

# name of the output file
outputFile:  sampleFolders/prepared/samples-prepared-2LSC.root

# input cross section files
XsecFiles: easyjet_example/config/samples/XSec/example_XS_13TeV.csv
XsecUnit: nb

# energy and luminosity
luminosity: 36074.56
luminosityUnit: pb
energy: 13
energyUnit: TeV

# channels to run over
channels: inclusive
channelPlaceholder: channel
