# -*- mode: config -*-

[visualize]

# name of the input file
inputFile: sampleFolders/analyzed/samples-analyzed-2LSC.root

# name of the output file
outputFile: sampleFolders/visualized/samples-visualized-2LSC.root

# name of the output folder
outputDir: results/easyjet_Example


channels: inclusive
channelPlaceholder: channel
channelConfig: easyjet_example/config/channels/channels.txt

patches: easyjet_example/config/visualization/style/easyjet-Example-style.txt

makePlots: *
# makePlots: CutFakeElecID/fakeElectronPt
makeLogPlots: false
histogramProcesses: easyjet_example/config/visualization/processes/easyjet-Example-plot-processes.txt

plotter.labels.atlas: Internal
plotter.blocks.x.0: 1
plotter.blocks.y.0: 0.7
plotter.style.showUnderflow: true
plotter.style.showOverflow: true
# plotter.style.subPlot: ratio
plotter.geometry.legend.xMin: 0.5
plotter.geometry.legend.xMax: 0.93
plotter.geometry.main.xAxis.titleOffset: 1.3
plotter.geometry.main.yAxis.titleOffset: 1.5


