# Note 1: Lumi values need to be consistent with the GRLs used in the considered PAOD production.
#              Make sure to re-run the prepare.py script when changing the luminosities.

[c23a]
# dataPaths: /storage/davidsh/Easyjet_yyML_output/v1/data/2022/
# mcPaths: /storage/davidsh/Easyjet_yyML_output/v1/mc_nom/mc23a/
dataFileList: config/samples/inputFileLists/yyML/yyML-dataFileList-v1-hepp01-c23a.txt
mcFileList: config/samples/inputFileLists/yyML/yyML-mcFileList-v1-hepp01-c23a.txt
dataFileListTreeName: AnalysisMiniTree
mcFileListTreeName: AnalysisMiniTree

[c23d]
# dataPaths: /storage/davidsh/Easyjet_yyML_output/v1/data/2023/
# mcPaths: /storage/davidsh/Easyjet_yyML_output/v1/mc_nom/mc23d/
# dataFileList: config/samples/inputFileLists/yyML/yyML-dataFileList-v1-hepp01-c23d.txt
# mcFileList: config/samples/inputFileLists/yyML/yyML-mcFileList-v1-hepp01-c23d.txt
# dataFileListTreeName: AnalysisMiniTree
# mcFileListTreeName: AnalysisMiniTree

[c23e]
# dataFileList:
# mcFileList:
# dataFileListTreeName: AnalysisMiniTree
# mcFileListTreeName: AnalysisMiniTree
