# Note 1: Lumi values need to be consistent with the GRLs used in the considered PAOD production.
#              Make sure to re-run the prepare.py script when changing the luminosities.

[c23a]
# dataPaths:
# mcPaths: /storage/davidsh/local_test/
# dataFileList:
mcFileList: config/samples/inputFileLists/yyML/yyML-mcFileList-v0-hepp01-c23a.txt
# dataFileListTreeName: AnalysisMiniTree
mcFileListTreeName: AnalysisMiniTree

[c23d]
# dataFileList:
# mcFileList:
# dataFileListTreeName: AnalysisMiniTree
# mcFileListTreeName: AnalysisMiniTree

[c23e]
# dataFileList:
# mcFileList:
# dataFileListTreeName: AnalysisMiniTree
# mcFileListTreeName: AnalysisMiniTree
