# -*- mode: config -*-

[analyze]

# name of the input file
inputFile: sampleFolders/initialized/samples-initialized-yyML-nom-v1.root

# name of the output file
outputFile: sampleFolders/analyzed/samples-analyzed-yyML-nom-v1.root

# set to 0 to unblind
aliases.doBlinded: 1

# define the cuts
cuts: config/cuts/yyML/yyML-cuts.def

# book histograms
histograms: config/histograms/yyML/yyML-histograms.txt

# channels to run over
channelConfig: config/channels/common/channels.txt
channels: 1l0tau, 0l1tau, 2l0tau, 1l1tau, 0l2tau

# parallel visiting of samples associated to same file (much faster!)
useMultiChannelVisitor: true

# for debugging
#maxEvents: 10

# include aliases
[config]
include: config/aliases/common/common_aliases.cfg
