# -*- mode: config -*-

[initialize]

# name of the input file
inputFile: sampleFolders/prepared/samples-prepared-yyML-nom-v1.root

# name of the output file
outputFile: sampleFolders/initialized/samples-initialized-yyML-nom-v1.root

# paths and names of the input data and MC files are specified in
# the following dedicated campaign config
campaignsConfig: config/master/common/campaigns-yyML-v1-hepp01.cfg
# campaignsConfig: config/master/common/campaigns-yyML-v1-eos.cfg
# campaigns: c23a, c23d
campaigns: c23a

# some debugging options for the sample initializer
# initialize: false
printSamplesFailed: true
verbose: true

# channels to run over
# channels: 1l0tau, 0l1tau, 2l0tau, 1l1tau, 0l2tau
channels: 1l0tau
# channels: 0l1tau
# channels: 2l0tau
# channels: 1l1tau
# channels: 0l2tau
channelPlaceholder: channel

initializer.useCountHistogram: true

# preInit patch files to apply
preInit_patches: config/patches/common/default-preinitialize-patch.txt
