# -*- mode: config -*-

[initialize]

# name of the input file
inputFile: sampleFolders/prepared/samples-prepared-yyML-nom.root

# name of the output file
outputFile: sampleFolders/initialized/samples-initialized-yyML-nom.root


#paths and names of the input data files
# dataFileList: config/samples/inputFileLists/yyML/yyML-dataFileList.txt
# dataFileListTreeName: AnalysisMiniTree

# path and name of the input mc file to initialize (eos, using xrootd)
mcFileList: config/samples/inputFileLists/yyML/yyML-mcFileList-v0.txt
mcFileListTreeName: AnalysisMiniTree

# some debugging options for the sample initializer
# initialize: false
printSamplesFailed: true
verbose: true

# channels to run over
channels: yyML
channelPlaceholder: channel
initializer.useCountHistogram: true

# preInit patch files to apply
preInit_patches: config/patches/common/default-preinitialize-patch.txt
