# -*- mode: config -*-

[prepare]

# name of the output file
outputFile:  sampleFolders/prepared/samples-prepared-yyML-nom-v1.root

# input cross section files
XsecFiles: config/samples/XSec/common/XS_13p6TeV.csv
XsecWhitelist: config/samples/whitelists/common/whitelist-v1.txt
XsecMap: config/samples/maps/common/run3-mc23.map
XsecUnit: pb

# energy and luminosity
luminosityUnit: pb
energy: 13.6
energyUnit: TeV

# channels to run over
# channels: 1l0tau, 0l1tau, 2l0tau, 1l1tau, 0l2tau
channels: 1l0tau
channelPlaceholder: channel

#import options specific to different campaigns and announce the ones that should be processed
campaignsConfig: config/master/common/luminosity.cfg
# campaigns: c23a, c23d
campaigns: c23a
