# -*- mode: config -*-

[prepare]

# name of the output file
outputFile:  sampleFolders/prepared/samples-prepared-yyML-nom.root

# input cross section files
XsecFiles: config/samples/XSec/common/XS_13p6TeV.csv
XsecWhitelist: config/samples/whitelists/common/whitelist-v0.txt
XsecMap: config/samples/maps/common/run3-mc23.map
XsecUnit: nb

# energy and luminosity
# TODO: replace with separate campaigns, currently assuming mc23a only
# Taken from https://twiki.cern.ch/twiki/bin/view/AtlasProtected/GoodRunListsForAnalysisRun3
luminosity: 26328.8
luminosityUnit: pb
energy: 13.6
energyUnit: TeV

# channels to run over
channels: yyML
channelPlaceholder: channel
