# -*- mode: config -*-

[visualize]

# name of the input file
inputFile: sampleFolders/analyzed/samples-analyzed-yyML-nom-v1.root

# name of the output file
outputFile: sampleFolders/visualized/samples-visualized-yyML-nom-v1.root

# name of the output folder
outputDir: results/yyML-nom-v1

# channels to run over
channels: 1l0tau, 0l1tau, 2l0tau, 1l1tau, 0l2tau, yyML

# which campaigns to run over
visualizeCampaigns: c23a, c23d
visualizeCampaignConfig: config/campaigns/common/campaigns.txt

patches: config/visualization/style/yyML/yyML-style.txt
makePlots: *
histogramProcesses: config/visualization/processes/yyML/yyML-plot-processes.txt
makeLogPlots: false
plotlabel: "HH#rightarrowyyML"
plotFormats: pdf, png
makeCutflows: true
cutflowFormats: txt, tex, html


cutflowProcessFiles: config/visualization/processes/yyML/yyML-cutflow-processes.txt
cutflowCutFiles: config/visualization/cuts/yyML/yyML-cutflow-cuts.txt

# configure plotter for nice plots
plotter.labels.atlas: Internal
plotter.blocks.x.0: 1
plotter.blocks.y.0: 0.75
plotter.geometry.main.xAxis.titleOffset: 1.3
plotter.geometry.main.yAxis.titleOffset: 1.7

channelConfig: config/channels/common/channels.txt
