[analyze]

############ Weights #############
# aliases.weights_detector: [[PileupWeight_$(Variation)] * [jvt_effSF_$(Variation)]]
aliases.weights_detector: [PileupWeight_$(Variation)]
aliases.weights_mc: [generatorWeight_$(Variation)]
aliases.weights_temp: [[$(weights_detector)] * [$(weights_mc)]]
aliases.weights: "{ $(isData) ? 1. : [$(weights_temp)] }"

############ Trigger #############
aliases.passTrigger: "yyml_pass_trigger_diphoton_$(Variation)"
aliases.passTriggerMatching: "yyml_pass_matching_trigger_diphoton_$(Variation)"

############ Subchannel pass #############
aliases.fitsChannel: "{ $(is1l0tau) ? $(pass1l0tau) : ($(is0l1tau) ? $(pass0l1tau) : ($(is2l0tau) ? $(pass2l0tau) : ($(is1l1tau) ? $(pass1l1tau) : ($(is0l2tau) ? $(pass0l2tau) : 0))))}"
aliases.pass1l0tau: "yyml_pass_1l0tau_$(Variation)"
aliases.pass0l1tau: "yyml_pass_0l1tau_$(Variation)"
aliases.pass2l0tau: "yyml_pass_2l0tau_$(Variation)"
aliases.pass1l1tau: "yyml_pass_1l1tau_$(Variation)"
aliases.pass0l2tau: "yyml_pass_0l2tau_$(Variation)"
#aliases.pass2L: "[yyml_pass2l0tau_$(Variation)] || [yyml_pass1l1tau_$(Variation)] || [yyml_pass0l2tau_$(Variation)]"

############ Truth #############
aliases.truth_mH: "{ !$(isSig) ? 1. : [truth_HH_m] }"




aliases.n_loose_noniso_photons : [HHML-F:|PAIRWISE|NUM_$(Variation)[phot]]
aliases.n_lep : [HHML-F:|PAIRWISE|NUM_$(Variation)[lep]]

aliases.y1_pt : [[HHML-F:phot_$(Variation)[0](pt)] / 1000.]
aliases.y1_eta : [HHML-F:phot_$(Variation)[0](eta)]
aliases.y1_phi : [HHML-F:phot_$(Variation)[0](phi)]
aliases.y1_IDTight_ISOLoose : [HHML-C:phot_$(Variation)[0](IDTight_ISOLoose)]
aliases.y1_IDTight_ISONone : [HHML-C:phot_$(Variation)[0](IDTight_ISONone)]
aliases.y1_IDLoose_ISOLoose : [HHML-C:phot_$(Variation)[0](IDLoose_ISOLoose)]

aliases.y2_pt : [[HHML-F:phot_$(Variation)[1](pt)] / 1000.]
aliases.y2_eta : [HHML-F:phot_$(Variation)[1](eta)]
aliases.y2_phi : [HHML-F:phot_$(Variation)[1](phi)]
aliases.y2_IDTight_ISOLoose : [HHML-C:phot_$(Variation)[1](IDTight_ISOLoose)]
aliases.y2_IDTight_ISONone : [HHML-C:phot_$(Variation)[1](IDTight_ISONone)]
aliases.y2_IDLoose_ISOLoose : [HHML-C:phot_$(Variation)[1](IDLoose_ISOLoose)]

aliases.l1_pt : [HHML-F:lep_$(Variation)[0](pt)]
aliases.l1_eta : [HHML-F:lep_$(Variation)[0](eta)]
aliases.l1_phi : [HHML-F:lep_$(Variation)[0](phi)]
aliases.l1_e : [HHML-F:lep_$(Variation)[0](energy)]
aliases.l1_pdg : [HHML-I:lep_$(Variation)[0](pdg)]
aliases.l1_IDLoose_ISOLoose : [HHML-C:lep_$(Variation)[0](IDLoose_ISOLoose)]
aliases.l1_IDTight_ISOTight : [HHML-C:lep_$(Variation)[0](IDTight_ISOTight)]
aliases.l1_d0sig : [HHML-F:lep_$(Variation)[0](d0sig)]
aliases.l1_z0sintheta : [HHML-F:lep_$(Variation)[0](z0sintheta)]

aliases.m_yy : [[HHML-F:|PAIRWISE|MASS_$(Variation)[y1y2]] / 1000.]


aliases.met_met : [[met_met_$(Variation)] / 1000.]
aliases.met_phi : [met_phi_$(Variation)]


aliases.n_b_jet : [HHML-F:|PAIRWISE|NUM_$(Variation)[b_jet]]

