[analyze]

############ Weights #############
# aliases.weights_detector: [[PileupWeight_$(Variation)] * [jvt_effSF_$(Variation)]]
aliases.weights_detector: [PileupWeight_$(Variation)]
aliases.weights_mc: [generatorWeight_$(Variation)]
aliases.weights_temp: [[$(weights_detector)] * [$(weights_mc)]]
aliases.weights: "{ $(isData) ? 1. : [$(weights_temp)] }"

############ Trigger #############
aliases.passTrigger: "yyml_pass_trigger_diphoton_$(Variation)"
aliases.passTriggerMatching: "yyml_pass_matching_trigger_diphoton_$(Variation)"

############ Subchannel pass #############
aliases.pass1l0tau: "yyml_pass_1l0tau_$(Variation)"
aliases.pass0l1tau: "yyml_pass_0l1tau_$(Variation)"
aliases.pass2l0tau: "yyml_pass_2l0tau_$(Variation)"
aliases.pass1l1tau: "yyml_pass_1l1tau_$(Variation)"
aliases.pass0l2tau: "yyml_pass_0l2tau_$(Variation)"
#aliases.pass2L: "[yyml_pass2l0tau_$(Variation)] || [yyml_pass1l1tau_$(Variation)] || [yyml_pass0l2tau_$(Variation)]"

############ Truth #############
aliases.truth_mH: "{ !$(isSig) ? 1. : [truth_HH_m] }"

