[analyze]

############ Weights #############

# aliases.weights_detector: [[PileupWeight_$(Variation)] * [jvt_effSF_$(Variation)]]
aliases.weights_detector: [PileupWeight_$(Variation)]
aliases.weights_mc: [generatorWeight_$(Variation)]
aliases.weights_temp: [[$(weights_detector)] * [$(weights_mc)]]
aliases.weights: "{ $(isData) ? 1. : [$(weights_temp)] }"



############ Trigger #############

aliases.passTrigger: "yyml_pass_trigger_diphoton_$(Variation)"
aliases.passTriggerMatching: "yyml_pass_matching_trigger_diphoton_$(Variation)"



############ Subchannel pass #############

aliases.fitsChannel: "{ $(is1l0tau) ? $(pass1l0tau) : ($(is0l1tau) ? $(pass0l1tau) : ($(is2l0tau) ? $(pass2l0tau) : ($(is1l1tau) ? $(pass1l1tau) : ($(is0l2tau) ? $(pass0l2tau) : 0)))) }"
aliases.pass1l0tau: "yyml_pass_1l0tau_$(Variation)"
aliases.pass0l1tau: "yyml_pass_0l1tau_$(Variation)"
aliases.pass2l0tau: "yyml_pass_2l0tau_$(Variation)"
aliases.pass1l1tau: "yyml_pass_1l1tau_$(Variation)"
aliases.pass0l2tau: "yyml_pass_0l2tau_$(Variation)"
#aliases.pass2L: "[yyml_pass2l0tau_$(Variation)] || [yyml_pass1l1tau_$(Variation)] || [yyml_pass0l2tau_$(Variation)]"



############ Truth #############

aliases.truth_mH: "{ !$(isSig) ? 1. : [truth_HH_m] }"



############ Object counting #############

aliases.n_loose_noniso_photons : [HHML-F:|PAIRWISE|NUM_$(Variation)[phot]]
aliases.n_lep : [HHML-F:|PAIRWISE|NUM_$(Variation)[lep]]
aliases.n_tau : [HHML-F:|PAIRWISE|NUM_$(Variation)[tau]]
aliases.n_b_jet : [HHML-F:|PAIRWISE|NUM_$(Variation)[b_jet]]



############ pre-calculated composite variables #############

aliases.m_yy : [[HHML-F:|PAIRWISE|MASS_$(Variation)[y1y2]] / 1000.]
aliases.m_l1l2 : [[HHML-F:|PAIRWISE|MASS_$(Variation)[l1l2]] / 1000.]
aliases.m_l1t1 : [[HHML-F:|PAIRWISE|MASS_$(Variation)[l1t1]] / 1000.]
aliases.m_t1t2 : [[HHML-F:|PAIRWISE|MASS_$(Variation)[t1t2]] / 1000.]



############ Cut construction for running with all channels #############

aliases.NLepTau_cut : "{ $(is1l0tau) ? ($(n_lep) == 1 && ($(n_tau) == 0)) : ($(is0l1tau) ? ($(n_lep) == 0 && ($(n_tau) == 1)) : ($(is2l0tau) ? ($(n_lep) == 2 && ($(n_tau) == 0)) : ($(is1l1tau) ? ($(n_lep) == 1 && ($(n_tau) == 1)) : ($(is0l2tau) ? ($(n_lep) == 0 && ($(n_tau) == 2)) : 1)))) }"

aliases.lep1_eta_cut : (fabs($(lep1_pdg)) == 11 ? (fabs($(lep1_eta)) < 1.37 || fabs($(lep1_eta)) > 1.52) : (fabs($(lep1_eta)) < 2.5))
aliases.lep2_eta_cut : (fabs($(lep2_pdg)) == 11 ? (fabs($(lep2_eta)) < 1.37 || fabs($(lep2_eta)) > 1.52) : (fabs($(lep2_eta)) < 2.5))
aliases.tau1_eta_cut : (fabs($(tau1_eta)) < 1.37 || fabs($(tau1_eta)) > 1.52)
aliases.tau2_eta_cut : (fabs($(tau2_eta)) < 1.37 || fabs($(tau2_eta)) > 1.52)
aliases.LepTauEta_cut : "{ $(is1l0tau) ? $(lep1_eta_cut) : ($(is0l1tau) ? $(tau1_eta_cut) : ($(is2l0tau) ? ($(lep1_eta_cut) && $(lep2_eta_cut)) : ($(is1l1tau) ? ($(lep1_eta_cut) && $(tau1_eta_cut)) : ($(is0l2tau) ? ($(tau1_eta_cut) && $(tau2_eta_cut)) : 1)))) }"

aliases.lep1_d0sig_cut : (fabs($(lep1_pdg)) == 11 ? (fabs($(lep1_d0sig)) < 5) : (fabs($(lep1_d0sig)) < 3))
aliases.lep2_d0sig_cut : (fabs($(lep2_pdg)) == 11 ? (fabs($(lep2_d0sig)) < 5) : (fabs($(lep2_d0sig)) < 3))
aliases.Lepd0sig_cut : "{ $(is1l0tau) ? $(lep1_d0sig_cut) : ($(is2l0tau) ? ($(lep1_d0sig_cut) && $(lep2_d0sig_cut)) : ($(is1l1tau) ? $(lep1_d0sig_cut) : 1)) }"

aliases.lep1_z0sintheta_cut : (fabs($(lep1_z0sintheta)) < 0.5)
aliases.lep2_z0sintheta_cut : (fabs($(lep2_z0sintheta)) < 0.5)
aliases.Lepz0sintheta_cut : "{ $(is1l0tau) ? $(lep1_z0sintheta_cut) : ($(is2l0tau) ? ($(lep1_z0sintheta_cut) && $(lep2_z0sintheta_cut)) : ($(is1l1tau) ? $(lep1_z0sintheta_cut) : 1)) }"

aliases.TauEleVeto_cut : "{ $(is0l1tau) ? $(tau1_RNNLoose_eleid) : ($(is1l1tau) ? $(tau1_RNNLoose_eleid) : ($(is0l2tau) ? ($(tau1_RNNLoose_eleid) && $(tau2_RNNLoose_eleid)) : 1)) }"

aliases.2LOC_cut : "{ $(is2l0tau) ? (($(lep1_charge) + $(lep2_charge)) == 0) : ($(is1l1tau) ? (($(lep1_charge) + $(tau1_charge)) == 0) : ($(is0l2tau) ? (($(tau1_charge) + $(tau2_charge)) == 0) : 1)) }"

aliases.2l_mll_cut : [$(m_l1l2) > 12]
aliases.1l1tau_mlt_cut : [$(m_l1t1) > 12]
aliases.2tau_mtt_cut : [$(m_t1t2) > 12]
aliases.2Lmll_cut : "{ $(is2l0tau) ? $(2l_mll_cut) : ($(is1l1tau) ? $(1l1tau_mlt_cut) : ($(is0l2tau) ? $(2tau_mtt_cut) : 1)) }"



############ Object variables #############

aliases.phot1_pt : [[HHML-F:phot_$(Variation)[0](pt)] / 1000.]
aliases.phot1_eta : [HHML-F:phot_$(Variation)[0](eta)]
aliases.phot1_phi : [HHML-F:phot_$(Variation)[0](phi)]
aliases.phot1_IDTight_ISOLoose : [HHML-C:phot_$(Variation)[0](IDTight_ISOLoose)]
aliases.phot1_IDTight_ISONone : [HHML-C:phot_$(Variation)[0](IDTight_ISONone)]
aliases.phot1_IDLoose_ISOLoose : [HHML-C:phot_$(Variation)[0](IDLoose_ISOLoose)]

aliases.phot2_pt : [[HHML-F:phot_$(Variation)[1](pt)] / 1000.]
aliases.phot2_eta : [HHML-F:phot_$(Variation)[1](eta)]
aliases.phot2_phi : [HHML-F:phot_$(Variation)[1](phi)]
aliases.phot2_IDTight_ISOLoose : [HHML-C:phot_$(Variation)[1](IDTight_ISOLoose)]
aliases.phot2_IDTight_ISONone : [HHML-C:phot_$(Variation)[1](IDTight_ISONone)]
aliases.phot2_IDLoose_ISOLoose : [HHML-C:phot_$(Variation)[1](IDLoose_ISOLoose)]

aliases.lep1_pt : [HHML-F:lep_$(Variation)[0](pt)]
aliases.lep1_eta : [HHML-F:lep_$(Variation)[0](eta)]
aliases.lep1_phi : [HHML-F:lep_$(Variation)[0](phi)]
aliases.lep1_e : [HHML-F:lep_$(Variation)[0](energy)]
aliases.lep1_pdg : [HHML-I:lep_$(Variation)[0](pdg)]
aliases.lep1_charge : [HHML-F:lep_$(Variation)[0](charge)]
aliases.lep1_d0sig : [HHML-F:lep_$(Variation)[0](d0sig)]
aliases.lep1_z0sintheta : [HHML-F:lep_$(Variation)[0](z0sintheta)]
# only available for electrons, for testing DNN ID - although I think we have to use this flag when defining the lep vector in HHMLFactory since MediumDNN isn't a subset of MediumLH
aliases.lep1_IDMediumDNN_ISOLoose : [HHML-C:lep_$(Variation)[0](IDMediumDNN_ISOLoose)]

aliases.lep2_pt : [HHML-F:lep_$(Variation)[1](pt)]
aliases.lep2_eta : [HHML-F:lep_$(Variation)[1](eta)]
aliases.lep2_phi : [HHML-F:lep_$(Variation)[1](phi)]
aliases.lep2_e : [HHML-F:lep_$(Variation)[1](energy)]
aliases.lep2_pdg : [HHML-I:lep_$(Variation)[1](pdg)]
aliases.lep2_charge : [HHML-F:lep_$(Variation)[1](charge)]
aliases.lep2_d0sig : [HHML-F:lep_$(Variation)[1](d0sig)]
aliases.lep2_z0sintheta : [HHML-F:lep_$(Variation)[1](z0sintheta)]
# only available for electrons, for testing DNN ID - although I think we have to use this flag when defining the lep vector in HHMLFactory since MediumDNN isn't a subset of MediumLH
aliases.lep2_IDMediumDNN_ISOLoose : [HHML-C:lep_$(Variation)[1](IDMediumDNN_ISOLoose)]

aliases.tau1_pt : [HHML-F:tau_$(Variation)[0](pt)]
aliases.tau1_eta : [HHML-F:tau_$(Variation)[0](eta)]
aliases.tau1_phi : [HHML-F:tau_$(Variation)[0](phi)]
aliases.tau1_e : [HHML-F:tau_$(Variation)[0](energy)]
aliases.tau1_pdg : [HHML-I:tau_$(Variation)[0](pdg)]
aliases.tau1_charge : [HHML-F:tau_$(Variation)[0](charge)]
aliases.tau1_n_prong : [HHML-I:tau_$(Variation)[0](n_prong)]
# can be used without redefining tau vector in HHMLFactory since RNNLoose_eleid is a strict subset of RNNLoose (just the addition of an electron veto)
aliases.tau1_RNNLoose_eleid : [HHML-C:tau_$(Variation)[0](RNNLoose_eleid)]

aliases.tau2_pt : [HHML-F:tau_$(Variation)[1](pt)]
aliases.tau2_eta : [HHML-F:tau_$(Variation)[1](eta)]
aliases.tau2_phi : [HHML-F:tau_$(Variation)[1](phi)]
aliases.tau2_e : [HHML-F:tau_$(Variation)[1](energy)]
aliases.tau2_pdg : [HHML-I:tau_$(Variation)[1](pdg)]
aliases.tau2_charge : [HHML-F:tau_$(Variation)[1](charge)]
aliases.tau2_n_prong : [HHML-I:tau_$(Variation)[1](n_prong)]
# can be used without redefining tau vector in HHMLFactory since RNNLoose_eleid is a strict subset of RNNLoose (just the addition of an electron veto)
aliases.tau2_RNNLoose_eleid : [HHML-C:tau_$(Variation)[1](RNNLoose_eleid)]

aliases.met_met : [[met_met_$(Variation)] / 1000.]
aliases.met_phi : [met_phi_$(Variation)]
