[analyze]

#aliases.nLep: hhml_nElectrons_$(Variation)+hhml_nMuons_$(Variation)
#aliases.lep1E: hhml_Lepton1_E_$(Variation)
#aliases.lep2E: hhml_Lepton1_E_$(Variation)
#aliases.lep1pt: hhml_Lepton1_pt_$(Variation)
#aliases.lep2pt: hhml_Lepton1_pt_$(Variation)
aliases.lep1pt: el_pt_$(Variation)[0]

